<h1>Sign Up Form</h1>

<form action="/register" method="POST">
    <input type="text" name="username" placeholder="Username">
    <input type="password" name="password" placeholder="password">
    <button type="submit">Submit</button>
</form>

<li><a href="/register">Sign up</a></li>
<li><a href="/login">Log in</a></li>
<li><a href="/logout">Log out</a></li>